{{#each customer in controller}}
  {{#link-to 'customer' customer.CustomerID tagName="li"}}
    {{customer.ContactName}}
  {{/link-to}}
{{/each}}

<a href='#' {{action 'sortByName'}}>Sort by Name</a>
