<table>
  <tr>
    <td>Customer ID:</td>
    <td>{{model.id}}</td>
  </tr>
  <tr>
    <td>Contact Name:</td>
    <td>{{model.ContactName}}</td>
  </tr>
  <tr>
    <td>Address:</td>
    <td>{{model.Address}}</td>
  </tr>
</table>

{{#link-to 'customers'}}Back to customers{{/link-to}}
