<div class="customers">
  <h1 {{action 'sortByName'}}>Customers
      <span class="caret"></span>
  </h1>
  
  {{input value=filterText type='text' placeholder='Search for customer' autofocus="autofocus"}}
  
  <ul>
    {{#each customer in filteredResults}}
    {{#link-to 'customer' customer.id tagName="li"}}
      {{customer.ContactName}}
    {{/link-to}}
  {{/each}}
  </ul>
  
</div>

{{outlet}}
