<div class="customers">
  <h1 {{action 'sortByName'}}>Customers
      <span class="caret"></span>
  </h1>
  
  <ul>
    {{#each customer in controller}}
    {{#link-to 'customer' customer.id tagName="li"}}
      {{customer.ContactName}}
    {{/link-to}}
  {{/each}}
  </ul>
  
</div>

{{outlet}}
